<<<<<<< HEAD
=======
<% provide(:title, 'Home') %>
>>>>>>> db814c4dc5cef3937e96719fcf53d44bb30d54ef
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>